body{
background-image:url("Background4.jpeg");
background-repeat:no-repeat;
background-size:cover;
}

*{
  font-family:calibri;
}

#head1div{
  display:block;
  width:50%;
  background-color:#FEE715FF;
  position:sticky;
  margin:auto;
  z-index:1;
  font-size:17px;
}

#addict1{
  position:absolute;
  width:190px;
  height:150px;
  top:-15px;
  left:670px;
  z-index:10;
}

#addict2{
  position:absolute;
  width:200px;
  height:150px;
  top:570px;
  left:800px;
  opacity:0.5;
}

#burgerText{
  background-color:#FFFFE2;
  position:absolute;
  z-index:2;
  left:100px;
  bottom:440px;
  font-size:30px;
  padding:10px;
  opacity:0.75;
  border-radius:10px;
}

#burgerText2{
  background-color:#FFFFE2;
  position:absolute;
  z-index:2;
  left:100px;
  bottom:360px;
  font-size:30px;
  padding:10px;
  opacity:0.75;
  border-radius:10px;
}

#burgerImg{
  margin-left:15px;
  width:1000px;
  height:550px;
  border-radius:30px;
}

#featureDiv{
  background-color:#FFFFE2;
  width:230px;
  height:210px;
  position:absolute;
  top:30%;
  left:75%;
  font-size:20px;
  padding:9px;
  text-align:center;
  font-family:calibri;
  border-style:ridge;
  border-color:black;
  box-shadow: 0px 0px 5px purple;
}

#featureDiv2{
  background-color:#FFFFE2;
  width:230px;
  height:210px;
  position:absolute;
  top:70%;
  left:75%;
  font-size:20px;
  text-align:center;
  padding:9px;
  border-style:ridge;
  border-color:black;
  box-shadow: 0px 0px 5px purple;
}

.bar{
  display:inline-block;
  margin-top:80px;
  margin-left:7.5%;
  background-color:#FEF9F3;
  font-size:25px;
  padding:15px;
  height:470px;
  width:80%;
  border:dotted black;
  opacity:0.95;
  padding:30px;
}
.bar:hover{
  border-radius:10px;
  border-style:dashed;
  box-shadow: 0px 0px 5px purple;
}

.head2div{
  display:inline-block;
  background-color:#ffc600;
  width:20%;
  height:auto;
  margin-left:4%;
  font-size:30px;
  box-shadow: 0px 0px 5px black;
}
.head2div:hover{
  background-color:#FFF494;
  border-radius:2px;
}

.titles{
  text-shadow:0px 0px 1px black;
  text-align:center;
}
.titles:hover{
  text-shadow:0px 0px 1px white;
}

textarea{
width:70%;
padding: 12px 20px;
margin:8px 0px;
border:solid 1px #ccc;
border-radius:4px;
display:block;
}
textarea:hover{
box-shadow: 0px 0px 10px #d45d87;
}
textarea:active{
background-color:lightyellow;
}

input[type=email]{
width:70%;
padding: 12px 20px;
margin:8px 0px;
border:solid 1px #ccc;
border-radius:4px;
display:block;
}

input[type=email]:hover{
box-shadow: 0px 0px 10px #d45d87;
}
input[type=email]:active{
background-color:lightyellow;
}

input[type=submit]{
width:30%;
background-color:#000080;
color:white;
padding:10px;
border-style:none;
border-radius:10px;
font-size:17px;
font-weight:bold;
}
input[type=submit]:hover{
background-color:#d45d87;
}

#feed{
  padding:10px;
  border:outset 2px lavender;
  box-shadow:0px 0px 5px lavender;
  border-radius:5px;
  bottom:-84.5%;
  position:absolute;
  left:61%;
  width:350px;
  opacity:1;
}